.game-card {
  height: 300px;
  background-color: #7ec699;

  .front {
    display: none;
  }
  &.hidden{
    opacity: 0;
  }

  &.show-front {
    .front {
      display: block;
    }
    .back {
      display: none;
    }
  }

}
